<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/stylesheets/stylesheets/"/>
	
	<title> Mercado Liebre Argentina </title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/stylesheets/app.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css"> 
    <!-- cambiar app.css por ruta que te lleva a styleshit -->
	<link rel="stylesheet" href="/stylesheets/styles.css"> 
</head>

	
