<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %> 

<%- include('partials/headerDeslogueado') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			
			
	<section class:"formLogin">
		<form method="GET">

			<div class:"inputLogin">
				<input type="email" placeholder="Email">
			</div>
		
			<div class="form-group">
				<input type="password" placeholder="Contraseña">
				
			</div>
			<div>
				<input type="checkbox" >
			<label for="recordame">recordame</label>
			</div>
			<button type="submit"><a href="/logueado">Confirmar</a></button>

		</form>

	</section>
				
	<%- include('./partials/footer')  %> 
</body>

</html>