<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

		<%- include('partials/head') %> 

	<body class="body">
		<%- include('partials/headerDeslogueado') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<!-- <div class="row"> -->
			<div class="login">
				<h2 class="products-title">Ingresar</h2>
			</div>
			
			
	<section >
		<form class="formLogin" method="post" action="/usuario/login">

			<div class=" casilla">
				<input type="email" placeholder="Email" class="inputs">
			</div>
		
			<div class=" casilla">
				<input type="password" placeholder="Contraseña" class="inputs">
				
			</div>

			<div class=" casilla">
				<input type="checkbox" class="checkbox">
			<label for="recordame" class="recordarme">recordarme</label>

			</div>

			<button class="botonlogin" type="submit"><a href="/usuario">Confirmar</a></button>

		</form>

	</section>
				
	<%- include('./partials/footer')  %> 
</body>

</html>