<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %> 

<%- include('partials/headerDeslogueado') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			
			
	<section class:"formLogin">
		<form method="GET">

			<div >
				<input type="email" placeholder="Email" class="inputs">
			</div>
		
			<div >
				<input type="password" placeholder="Contraseña" class="inputs">
				
			</div>
			<div>
				<input type="checkbox" class="checkbox">
			<label for="recordame" class="recordarme">recordarme</label>
			</div>
			<button type="submit"><a href="/usuario">Confirmar</a></button>

		</form>

	</section>
				
	<%- include('./partials/footer')  %> 
</body>

</html>