<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %> 

<%- include('partials/headerLogueado', {usuarios: usuarios}) %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
<form class="formLogin" >
				<div >
					<input type="text"  placeholder="Nombre de producto" class="inputs">
				</div>
			
				<div >
					<input type="text"   placeholder="Descripcion del producto" class="inputs">
				</div>
			
				<div>
					<input type="file"  placeholder="imagen" class="inputs">
			
				</div>
			
				<div>
					<input type="date"  placeholder="Fecha de carga" class="inputs">
				
				</div>
				
				<a href="/"  role="button" class="botonlogin">Agregar</a>
			</form>
			</h2>

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>