<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

		<%- include('partials/head') %> 

	<body class="body">
		<%- include('partials/headerLogueado') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="subtitulo">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
				<% if(locals.errores){  %> 
					<p style> <%= errores.message %> </p>
				<% } %> 


<form class="formLogin" method="post" enctype="multipart/form-data">
				<div >
					<input type="text"  placeholder="Nombre de producto" class="inputs" name="producto">
				</div>

				<div >
					<input type="text"  placeholder="Marca" class="inputs" name="marca">
				</div>

				<div >
					<input type="text"  placeholder="Modelo" class="inputs" name="modelo">
				</div>

				<div >
					<input type="text"  placeholder="Estado" class="inputs" name="estado">
				</div>

				<div >
					<input type="text"  placeholder="Color" class="inputs" name="color">
				</div>

				<div >
					<input type="text"  placeholder="Descripcion del producto" class="inputs" name="descripcion">
				</div>
		
				<div>
					<input type="file"  placeholder="imagen" class="inputs" name="imagen">
			
				</div>

				<button class="botonlogin">Agregar</button>
			</form>
			</h2>

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>