<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('partials/head') %> 

<body>
	<!-- Header -->
	
	<%if(logueado==true){%>
		<%- include("partials/headerLogueado")%>
	<%}else{%>
		<%- include("partials/headerDeslogueado")%>
	<%}%>
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Samsung S10</h2> 
			<p class="product-detail-description">
				<a href="/producto/add">Agregar producto</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/samsungS10.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						La pantalla del Galaxy S10 Plus es un panel Dynamic AMOLED que cuenta con una resolución QHD+ debido a su formato 19:9. El panel es de 6,4 pulgadas y la densidad de píxeles es de 525 píxeles por pulgada, una densidad de píxeles que lo coloca en la gama top.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html">Ricky Martin: </a> </strong>
								Rápido e eficaz.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Don Omar: </a> </strong>
									¡La mejor tienda, excelente servicio!</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Anitta: </a> </strong>
									Buenas tardes, gran servicio lo super recomiendo. Compre mi Iphone  y todo está funcionando a la perfección. excelentes empleados.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Chayanne: </a> </strong>
									¡Gran servicio! Muy proactivo y honesto.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Marc Anthony: </a> </strong>
									Mucha variedad de celulares</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Carlos vives: </a> </strong>
									Muy linda la tienda, super completa y con empleados muy amables</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Shakira: </a> </strong>
									Compre un Samsung y funciono todo a la perfección. Lo recomiendo!!!!</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>