<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %> 

<%- include('partials/headerDeslogueado') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			
			<h1 >Registro de usuario</h1>
			<h2 >¿Ya estás registrado? <a href="/usuario/login">Ingresá aquí</a></h2>
			
			
			<form >
				<div>
					<input type="text"  placeholder="Nombre de usuario">
			
				</div>
			
				<div >
					<input type="dni"   placeholder="DNI">
					<input type="date"  placeholder="Fecha de nacimiento">
				</div>
			
				<div>
					<input type="email" placeholder="Email">
				</div>
			
				<div>
					<input type="password"  placeholder="Contraseña">
					<input type="password"  placeholder="Repetir contraseña">
				</div>

				<div>
					<input type="file"  placeholder="Foto">
				
				</div>
			
				<a href="/logueado"  role="button" >Confirmar</a>
			</form>


		<%- include('./partials/footer')  %> 
</body>

</html>