<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %> 

<%- include('partials/headerDeslogueado') %> 
<body class="body">
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
<div class="register">
	<div class="registro">
		<h1 class="registroUsuario">Registro de usuario</h1>
		<h2 class="registrado">¿Ya estás registrado? <a href="/usuario/login">Ingresá aquí</a></h2>
		</div>
		
		
		<div  class="formRegistro">
			<form>
				<div>
					<input type="text"  placeholder="Nombre de usuario" class="inputs">
			
				</div>
			
				<div >
					<input type="dni"   placeholder="DNI"  class="inputs">
					<input type="date"  placeholder="Fecha de nacimiento"  class="inputs">
				</div>
			
				<div>
					<input type="email" placeholder="Email"  class="inputs">
				</div>
			
				<div>
					<input type="password"  placeholder="Contraseña"  class="inputs">
					<input type="password"  placeholder="Repetir contraseña"  class="inputs">
				</div>

				<div>
					<input type="file"  placeholder="Foto"  class="inputs">
				
				</div>
			
				<a href="/usuario/login"  role="button" class="confirmar">Confirmar</a>
			</form>

		</div>
</div>
			


		<%- include('./partials/footer')  %> 
</body>

</html>